// Font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

// Color
:root {
    --color-bg: #61A5C2;
    --color-light: #119da4;
    --color-main: #13505b;
    --color-white: #caf0f8;
    --color-white-light: #fff;
    --color-black: #292525;
    --color-type: #012A4A;
    --color-post-main: #4c4e4d;
    --color-post-mark: #ff0;
    --plyr-color-main: #119da4;
}
